<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0"> 

  <div fxFlex="40"  *ngIf="dish" [@visibility]="visibility">
    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{ BaseURL + dish.image }}" alt={{dish.name}}>
            <mat-card-content>
                <p>{{dish.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
                <button mat-button (click)="goBack()">BACK</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
            </mat-card-actions>
        </mat-card>
    </div>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
    <mat-list fxFlex >
        <mat-card-header>
            <mat-card-title>
                <h3>Comments</h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
           <p matLine *ngFor="let dishs of dish.comments">
                <span>{{dishs.comment}}</span><br>
               <span>{{dishs.rating}} Stars </span><br>
               <span>--{{dishs.author}}  {{dishs.date | date}}</span><br><br>
            </p>
            <p matLine *ngFor="let feed of comments">
                <span>{{feed.comment}}</span><br>
                <span>{{feed.rating}} Stars </span><br>
                <span>--{{feed.author }}     {{feed.date | date}}</span><br><br>
                <!-- {{feedbackForm.value | json}} {{feedbackForm.status | json}} -->
            </p>
        </mat-card-content>

        
        <mat-card-content>
          
            <p matLine>
                <span>{{feedbackForm.value.comment}}</span><br>
                <span>{{feedbackForm.value.rating}} Stars </span><br>
                <span>--{{feedbackForm.value.author }}     {{feedbackForm.value.date | date}}</span><br><br>
                <!-- {{feedbackForm.value | json}} {{feedbackForm.status | json}} -->
            </p>
            <div>
            <div fxFlex fxFlexOffset="5px" class="form-size" *ngIf="comments">
                 <form novalidate [formGroup]="feedbackForm" #ffrom="ngForm" (ngSubmit)="onSubmit()">
                    <p>
                        <mat-form-field class="full-width">
                            <input matInput formControlName="author" placeholder="Name" type="text" required>
                            <mat-error *ngIf="formErrors.author">
                                {{ formErrors.author }}
                              </mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                            <mat-slider thumbLabel formControlName="rating"
                            [displayWith]="formatLabel"
                            tickInterval="5"
                            min="0"
                            max="5"></mat-slider>
                    </p>
                    <p>
                        <mat-form-field class="full-width">
                            <textarea matInput formControlName="comment" placeholder="Your Comment" required></textarea>
                            <mat-error *ngIf="formErrors.comment">
                                {{ formErrors.comment }}
                              </mat-error>
                        </mat-form-field>
                    </p>
                    <!-- <p>
                        {{currentDate | date }}
                    </p> -->
                  
                    <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid">Submit</button>
                </form>
            </div>
            </div>
        </mat-card-content>
    </mat-list>
  </div>


  

  
  <div fxFlex [hidden]="dish || errMess">
    <mat-spinner></mat-spinner><h4>Loading.........Please wait!</h4>
</div>
<div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
</div>

</div>